<!-- Страница одного вопроса.
На этой странице должны выводится заголовок (title), текст (text) вопроса и все ответы на данный вопрос, без пагинации.
В случае неправильного id вопроса view должна возвращать 404. -->
<html>
  <head>Question: {{ question.title|truncatechars:30 }}</head>
  <body>
    <h1>{{ question.title }}</h1>
    <p>Author:{{ question.author }} Added:{{ question.added_at }} Rating:{{ question.rating }}</p>
    <p>{{ question.likes }}</p>
    <p>{{ question.text }}</p>
    {% for answer in answers %}
      {% include "question/answer.html" %}
    {% endfor %}
    <p>"Add your answer here:"</p>
    {% for e in form.non_field_errors %}
      <div class="alert alert-danger">{{ e }}</div>
    {% endfor %}
    <form class="form-horizontal" method="post" action="/blog/add/">
      <fieldset>
        {% for field in form %}
          <div class="control-group
              {% if field.errors %}has-error{% endif %}">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
          </div>
        {% endfor %}
      </fieldset>
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">
        Сохранить</button>
      </div>
    </form>
  </body>
</html>
